{% extends 'accounts/customer_main.html' %}
{% load static %}
{% block content %}
<br>
<div class="card-group bg-dark">
  <div class="card" id="login1">
  </div>
  <div class="card bg-secondary">
    <div class="card card-body border-dark" align="center" id="login2">
        <h4 class="card-title text-light" align="center"><i class="fas fa-user-circle"></i>   LOGIN</h4>
        <br>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{field}}
                <br>
                <br>
            {% endfor %}
            <div align="left">
            <a style="color: white" href="{% url 'reset_password' %}">Forgot password?</a>
            </div>
            <br>
            <br>
            {% for message in messages %}
            {{message}}
            {% endfor %}
            <div class="card-footer" align="center" id="login3">

                <input class="btn btn-lg btn-light border-dark" type="submit" name="Submit">
                <br>
                <br>
                <br>
                <h4>Don't have an account?</h4><a href="{% url 'register' %}" style="color:white; font-size: 30px">Sign Up</a>
            </div>
        </form>
    </div>
  </div>
  <div class="card" id="login4">
  </div>
</div>
<script>
    //javascript to set placeholders for the input fields

    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder=''
    form_fields[2].placeholder='Username...'
    form_fields[3].placeholder='Password...'

    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }
</script>
{% endblock %}