{% extends 'accounts/customer_main.html' %}
{% load static %}
{% block content %}

<br>
<div class="card-group bg-dark">
  <div class="card" id="login1">
  </div>
  <div class="card bg-secondary">
    <div class="card card-body border-dark" align="center" id="login2">
        <h4 class="card-title text-light" align="center"><i class="fas fa-user-circle"></i>   PASSWORD RESET COMPLETE</h4>
        <br>
        <br>
        <br>

		<h6 style="color: white; text-align: center">Your password has been reset. You may now continue to login.</h6>

		<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="card-footer" align="center" id="login3">
            <a class="btn btn-lg btn-primary border-dark" href="{% url 'login' %}" type="submit" name="login">Login</a>
        </div>
        <br>
        <br>
    </div>
  </div>
  <div class="card" id="login4">
  </div>
</div>

{% endblock %}