<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Slate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% load static %}
    {% if request.user.customer.theme == 'Dark' %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/theme_dark.css' %}">
    {% elif request.user.customer.theme == 'Light' %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/theme_light.css' %}">
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/jpg" href="{% static 'images/favicon.png' %}">

</head>
<body id="body">
    {% include 'accounts/navbar.html' %}
    <div class="container-fluid">
    {% block content %}


    {% endblock %}
    <hr>
    <br>
    <br>

    <h5 style="text-align:center;" id="home_text">Created by Benjamin Goddard
        <a class="popup" onclick="myFunction()"> <i class="fas fa-phone"></i>
            <span class="popuptext" id="myPopup">(435)515-6830</span>
        </a>
        <a class="btn btn-lg" href="mailto:bdgcypher@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
        <a class="btn btn-lg" href="https://github.com/bdgcypher" target="_blank"><i class="fab fa-github"></i></a>
    </h5>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
// When the user clicks on <a>, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>

</html>

