{% extends 'accounts/customer_main.html' %}
{% load static %}
{% block content %}

<br>
<div class="card-group bg-dark">
  <div class="card" id="login1">
  </div>
  <div class="card bg-secondary">
    <div class="card card-body border-dark" align="center" id="login2">
        <h4 class="card-title text-light" align="center"><i class="fas fa-user-circle"></i>   PASSWORD RESET</h4>
        <br>
        <br>

		<h6 style="color: white; text-align: center">Enter new Password</h6>
        <br>
		<form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{field}}
                <br>
                <br>
            {% endfor %}
            <br>
            <br>
            {% for message in messages %}
            {{message}}
            {% endfor %}
            <div class="card-footer" align="center" id="login3">
                <input class="btn btn-lg btn-primary border-dark" type="submit" name="Send email">
            </div>
        </form>
    </div>
  </div>
  <div class="card" id="login4">
  </div>
</div>
<script>
    //javascript to set placeholders for the input fields

    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder=''
    form_fields[2].placeholder='Password...'
    form_fields[3].placeholder='Confirm Password...'

    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }
</script>
{% endblock %}