{% extends 'accounts/customer_main.html' %}
{% load static %}
{% block content %}
<br>
<div class="card-group">
  <div class="card" id="register1">
  </div>
  <div class="card bg-dark">
    <div class="card card-body border-secondary" align="left" id="register2">
        <h4 class="card-title text-light" align="center"><i class="fas fa-user-circle"></i>   REGISTER ACCOUNT
            <a class="btn-md btn-dark" href="http://127.0.0.1:8000/login/"><i class="fas fa-times float-right"></i></a></h4>
        <br>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{field}}
                <br>
                <br>
            {% endfor %}
            <br>
            <br>
            {{form.errors}}
            <div class="card-footer" align="center">
                <input class="btn btn-lg btn-light border-dark" type="submit" name="Submit">
            </div>
        </form>
    </div>
  </div>
  <div class="card" id="register3">
  </div>
</div>
<script>
    //javascript to set placeholders for the input fields

    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder=''
    form_fields[2].placeholder='Username...'
    form_fields[3].placeholder='Password...'
    form_fields[4].placeholder='Confirm Password...'

    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }
</script>
{% endblock %}