{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="card-group">
  <div class="card" id="login1">
  </div>
  <div class="card bg-secondary border-light">
    <div class="card card-body border-dark" align="center" id="login2">
        <h4 class="card-title text-light" align="center"><i class="fas fa-cog"></i>   Settings</h4>
        <br>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <h4 style="color: white">Theme: {{field}}   <input class="btn btn-lg btn-primary border-dark"
                                                              type="submit" name="Submit"></h4>
            <br>
            <br>
            {% endfor %}

        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a class="btn btn-danger btn-sm" href="{% url 'delete_customer' customer.id %}">Delete Account</a>
    </div>
  </div>
  <div class="card" id="login4">
  </div>
</div>

{% endblock %}